/* TODO: Update priority colors */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	width: 100svh;
	height: 100svw;
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	display: flex;
}

button {
	cursor: pointer;
	width: 100%;
	text-align: left;
	background-color: transparent;

	&:hover {
		background-color: hsla(203, 76%, 33%, 0.4);
	}
}

ul {
	list-style: none;
}

#menu {
	width: 35%;
	padding: 10%;

	li {
		margin: 0.8em 0;
	}

	button {
		font-size: 1.4rem;
		padding: 0.4em 0.8em;
	}
}

#main {
	width: 65%;
	padding: 10%;

	h1 {
		font-size: 6rem;
		margin-bottom: 0.4em;
	}
}

#list-wrapper {
	width: 48em;
	border-bottom: 1px solid black;
}

#task-list {
	li {
		padding: 1.4em;
	}
}

#addTaskBtn {
	width: 48em;
	padding: 1.2em 1em;
	font-weight: 600;
}

form {
	display: none;
	width: 48em;
	background-color: lightcyan;

	.task-form-input {
		border-bottom: 1px solid black;
	}
}
